pandas
numpy
matplotlib
seaborn
streamlit
streamlit-option-menu
streamlit-extras
chardet
pyjanitor
ydata-profiling
streamlit-pandas-profiling
setuptools
wheel
missingno
feature-engine
klib
pandasai
groq
tiktoken
pyyaml
textblob
category-encoders
pymongo
